{% extends "index/index.html" %}
{% block content_index%}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
        	<div class="container">
                <h3>Lorem Ipsum</h3>

                 <blockquote class="quote-card">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      </p>
                </blockquote>
                
        		<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus tellus non pellentesque molestie. Mauris fermentum euismod augue non eleifend. Nunc ex sapien, consequat at vehicula rhoncus, fringilla sed turpis. Aenean tristique leo sed commodo blandit. Maecenas non diam sem. Cras ornare enim id laoreet facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>

                <p>Duis malesuada turpis ac diam commodo, sagittis fermentum metus interdum. Nullam at est laoreet, semper velit id, placerat leo. Vestibulum condimentum ornare nunc, eu convallis libero imperdiet in. Integer sed mollis magna. Cras venenatis nunc at est bibendum luctus. Nam scelerisque condimentum risus sed auctor. Vivamus ac feugiat odio, vitae ornare odio. Nulla ornare tempor felis, quis imperdiet urna commodo eu. Donec tincidunt dui a mauris vulputate euismod. Proin non cursus diam, et gravida nunc. Mauris vestibulum sem a nisl interdum pharetra.</p>

                <p>In non urna eros. Vivamus a vulputate ante. Suspendisse velit mauris, egestas eu rhoncus id, fermentum et odio. Donec condimentum porta turpis, quis tempor turpis luctus et. Fusce sit amet convallis turpis, quis tempor tortor. Suspendisse potenti. Sed at lacinia est. Praesent id posuere est, eu viverra turpis. Proin interdum lorem ac dignissim dictum. Praesent eu dolor sit amet tellus pulvinar vehicula at vitae tortor.</p>

                <p>Integer consectetur condimentum rutrum. In sed urna eu arcu semper placerat a a mauris. Nulla in neque tellus. Pellentesque turpis erat, ornare in dictum quis, blandit vel diam. Maecenas ut rutrum justo, accumsan rhoncus tortor. Mauris odio odio, fermentum non arcu id, feugiat pellentesque lectus. Proin quis felis id elit iaculis venenatis ac vitae orci. Phasellus tincidunt, libero nec porta malesuada, felis lorem laoreet ante, ut euismod turpis justo sed ligula.</p>

                <p>Ut lacus lorem, tincidunt at felis lobortis, tempor consequat ipsum. Quisque vestibulum sodales tortor eu placerat. Aliquam venenatis, dui in tristique placerat, arcu mauris gravida eros, vel posuere tortor lectus sed leo. Nunc maximus sollicitudin sollicitudin. Nunc ut felis sed nibh pharetra tempor. Donec ac ex purus. Nullam eu fringilla risus, in vulputate eros.</p>


        		</div>	
        	</div>
        </div>
    </div>
</div>


{% endblock%}
